body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main-nav {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-between; */
  background-color:#21222A;
  padding: 30px 25px;
  height: 90px;
}

.title {
  margin-right: auto;
  color:#61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.extra-title {
  color:#DEEBF8;
  font-weight: 600;
}

.Nav-items {
  list-style: none;
  font-size: large;
  display: flex;
  /* flex-direction: row; */
}

.Nav-items > li {
  padding: 5px;
}

.logo-image {
  /* width: 90px;
  margin-left: 0; */
  width: 28.93px;
height: 28.93px;
top: 31px;
left: 26px;
padding: 2.21px, 0.62px, 2.21px, 0.62px;
color:#00D8FF;
}

/* .container {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

body {
  /* margin: 0; */
  font-family: Inter, sans-serif;
  background-color: #282D35;
}

* {
  box-sizing: border-box;
}

.main--h1 {
  margin: 10;
  letter-spacing: -0.05em;
}

main {
  color: white;
  padding: 57px 25px;
  background-image: url("./Group.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
}

.main-ul > li {
  line-height: 19px;
  letter-spacing: 0em;
  padding-block: 10px;
}

.footer {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  padding: 30px 25px;
  color: white;
}

.main-ul > li::marker {
  color: #61dafb;
  font-size: 1.5em;
}
